.column-container {
  background-color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: $s-size;
  min-width: 30rem;
}
.column-title {
  margin: 0;
  padding: $xs-size;
  text-align: center;
  word-break: break-all;
}

.column-list {
  background-color: $light-grey;
  flex-grow: 1;
  min-height: 40rem;
  padding: 8px;
  transition: background-color 0.2s ease;
}

.column-list-dragging {
  @extend .column-list;
  background-color: $light-blue;
}

.buttons-column {
  display: flex;
  justify-content: center;
  margin: $xs-size;
}
