.columns-container {
  display: flex;
  line-height: 1em;
  overflow-x: scroll;
  width: 100%;
}
.columns-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.columns-container::-webkit-scrollbar:vertical {
  width: 11px;
}

.columns-container::-webkit-scrollbar:horizontal {
  height: 11px;
}

.columns-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
